

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin : 0;
    background-image: url("../images/background.png"); /* aquamarine; */ 
    background-size: auto;
    background-attachment: fixed;
    background-position: center;
}

#titre {
    padding: 1%;
    border-bottom-style: double;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background: #c94a00; /* aqua; */
}

#menu {
    border-bottom-right-radius: 5%;
    background-color:#c27545;
    border-left-style: double;
    border-right-style: double;
    border-bottom-style: double;
    float : left;
    width : 220px;
}

#menu h3 {
    border-bottom-style: double;
    padding: 5%;
    margin-top: auto;
    text-align: center;
    background-color: #c9b2a9;
}

#contenu {
    font-size: large;
    background: #d18d72; /* aliceblue; */
    margin-left: 220px;
    padding: 2%;
}

#auteurs {
    color: aliceblue;
    background: #251d1b; /* beige; */
    text-align: center;
}

#title_table{
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #c9b2a9;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    text-align: center;
    background-color: #92695e;
}

h2 {
    text-align: center;
    background-color: #92695e;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-top-style: dashed;
    border-top-left-radius: 35%;
    border-top-right-radius: 35%;   
    margin-right: 25%;
    margin-left: 25%;
}

h3{
    padding-left: 1em;
}

img {
    margin: auto;
    border-style: solid;
    border-width: 0.2em;
}

table{
    margin: auto;
}
table td {
    margin: 5%;
    text-align: center;
}
table th {
    background-color: #c27545;
}
