html {
    height:100%;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin : 0;
}

#titre {
    padding: 2%;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    text-align: center;
    background: #ffcc14; /* aqua; */
}

#body {
    background-color: #6d2a00; /* aquamarine; */ 
}

#menu {
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    background-color:#ab4200;
    border-style: double;
    float : left;
    width : 200px;
}

#contenu {
    font-size: large;
    background: #d18d72; /* aliceblue; */
    margin-left: 200px;
    padding: 5%;
    height: 100%;
    overflow: scroll;
}

#auteurs {
    background: #251d1b; /* beige; */
    height : 10%
}
