:root{ /* Espace de stockage des couleurs dans des variables */
    --principal-color: #d18d72;                      /* Couleur principale du site : pour le fond du contenu. */
    --secondary-color: #c27545;                      /* Couleur secondaire du site : pour le menu ainsi que les éléments mis en évidence. */
    --tertiaire-color: #c9b2a9;                      /* Couleur tertiaire du site : pour les plus petits éléments. */
    --title-color: #c94a00;                          /* Couleur de fond pour le titre du site. */
    --h-color: #92695e;                              /* Couleur de fond pour les h1, h2 et h3 du site. */
    --black-color: #251d1b;                          /* Couleur noire mais pas totalement, pour éviter d'utiliser un noir trop sombre. */
}

/* ##################### */
/* ###### Général ###### */
/* ##################### */

body {
    margin : 0;                                        /* Annule la marge mise par défaut par HTML. */
    background-image: url("../images/background.png"); /* L'image en fond du site. */ 
    background-size: auto;                             /* Définit automatiquement la taille en fonction de la taille du site. */
    background-attachment: fixed;                      /* L'image en fond ne bouge pas lors du défilement. */
    background-position: center;                       /* L'image est mise au centre de la page. */
}

.center{ /* Classe permettant de centrer un contenu précis */
    text-align: center;                                /* Aligne le texte au centre. */
}
.center-image { /* Classe servant à centrer un élément réticent (ex : image). */
    display: block;                                    /* Rend l'élément en bloc. */
    margin-left: auto;                                 /* Centre l'élément horizontalement dans son bloc. */
    margin-right: auto;
}
.no-decoration { /* Classe servant à enlever la décoration des listes */
    margin-left: -2em;                                 /* Supprime le décalage naturel des listes en HTML. */
    list-style: none;                                  /* Supprime les puces des listes. */
}

/* ################### */
/* ###### Titre ###### */
/* ################### */

#titre {
    padding: 1%;                                       /* Met de l'espace pour laisser "respirer" le titre. */
    border-bottom-style: double;                       /* Bordure inférieure uniquement, car seule utile pour #titre. */
    font-size: xx-large;                               /* Augmente la taille de la police pour que #titre soit plus grand que le reste. */ 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /* Police d'écriture de #titre. */
    text-align: center;                                /* Centre le texte de #titre. */
    background: var(--title-color);                    /* Met la couleur de fond de #titre en orange. */                
}

/* ############################# */
/* ###### Contenu du site ###### */
/* ############################# */

#body { /* Paramètre influençant le bloc #body => sur #menu et #contenu */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* Police d'écriture de #menu et #contenu */
}

/* ################## */
/* ###### Menu ###### */
/* ################## */

#menu { /* Paramètre influençant le bloc #menu */
    float : left;                                     /* Place le bloc #menu à gauche du site */
    width : 220px;                                    /* Définit la largeur du bloc #menu à 220px */
    border-bottom-right-radius: 5%;                   /* Arrondit le coin en bas à droite pour adoucir le #menu */ 
    background-color: var(--secondary-color);         /* Met la couleur du bloc #menu en orange clair */
    border-left-style: double;                        /* Bordure partout sauf à gauche (collée à la limite du site). */
    border-right-style: double;
    border-bottom-style: double;
}

#menu h3 {  /* Paramètre influençant le h3 contenu dans #menu */
    border-bottom-style: double;                      /* Seule la bordure inférieure est modifiée ici. */
    padding: 5%;                                      /* Ajoute de l'espace autour du h3 */
    margin-top: auto;                                 /* Gère automatiquement l'espace au-dessus du h3 */
    text-align: center;                               /* Centre le texte */
    background-color: var(--tertiaire-color);         /* Définit la couleur du bloc en beige */
}

/* ##################### */
/* ###### Contenu ###### */
/* ##################### */

.surligne { /* Classe qui surligne des cases d'un tableau */
    background-color: #dfd111;                      /* Change le fond en jaune */
}

.nothing {  /* Classe qui surligne les cases vides d'un tableau */
    color: aliceblue;                               /* Change la couleur du texte en bleu clair */
    background-color: var(--black-color);             /* Change le fond en noir (pas total) */
    text-align: center;                               /* Centre le texte */
}

#contenu { /* Paramètre influençant le bloc #contenu */
    font-size: large;                                 /* Augmente la taille de la police */                         
    background: var(--principal-color);               /* Définit la couleur de fond en beige rosé */
    margin-left: 220px;                               /* Décale le bloc vers la droite pour laisser la place au #menu */
    padding: 2%;                                      /* Ajoute de l'espace autour du contenu */
}

#contenu h1 { /* Paramètre influençant les h1 de #contenu */
    background-color: var(--h-color);                 /* Définit une couleur de fond marron clair */
    color: #f1ebe8;                                 /* Définit une couleur de texte beige très clair */
    padding-top: 0.3em;                               /* Ajoute un espace au-dessus et en dessous du h1 */
    padding-bottom: 0.3em;
    text-align: center;                               /* Centre le texte */
}

#contenu h2 { /* Paramètre influençant les h2 de #contenu */
    text-align: center;                               /* Centre le texte */
    background-color: var(--h-color);                 /* Couleur de fond marron clair */
    border-style: solid;                              /* Bordure de type solide */
    border-top-left-radius: 35%;                      /* Arrondit fortement les coins en haut à gauche et à droite */
    border-top-right-radius: 35%;   
    margin-right: 25%;                                /* Crée une marge pour centrer le h2 */
    margin-left: 25%;
}

#contenu h3{ /* Paramètre influençant les h3 de #contenu */
    margin-left: 1em;                                 /* Crée un alinéa */
}

#contenu img { /* Paramètre influençant les images de #contenu */
    margin: auto;                                     /* Centre l'image */
    border-style: solid;                              /* Ajoute une bordure */
    border-width: 0.2em;                              /* Épaisseur de la bordure */
}
#contenu #note{ /* Paramètre influençant le bloc #note contenu dans #contenu */
    text-align: center;                               /* Centre le texte */
}
#contenu table{ /* Paramètre influençant les tableaux de #contenu */
    margin: auto;                                     /* Centre le tableau */
}
#contenu table td { /* Paramètre influençant les cellules td */
    margin: 5%;                                       /* Ajoute une marge pour mieux distinguer les cellules */
}
#contenu table th { /* Paramètre influençant les cellules th */
    background-color: var(--secondary-color);         /* Définit la couleur de fond en orange foncé */
}

/* ##################### */
/* ###### Auteurs ###### */
/* ##################### */

#auteurs { /* Paramètre influençant le bloc #auteurs */
    color: aliceblue;                              /* Couleur du texte en bleu clair */
    background: var(--black-color);                  /* Fond en noir atténué */
    text-align: center;                              /* Centre le texte */
}