/* ############################## */
/* ######     Géneral      ###### */
/* ############################## */

body {
    margin : 0;                                        /* Annule la marge mise de base par HTML */
    background-image: url("../images/background.png"); /* L'image en fond de site */ 
    background-size: auto;                             /* Définit automatiquement la taille en fonction de la taille du site */
    background-attachment: fixed;                      /* L'image en fond ne bouge pas lors du scroll */
    background-position: center;                       /* L'image est mis au centre de la page */
}

.center{ /* Classe permettant de centrer un contenu bien précis */
    text-align: center;                                /* Aligne le texte au centre */
}
.center-image { /* Classe servant à mettre un élément réticent au milieu de la page ( exemple : image ) */
    display: block;                                    /* Bloque l'élement */
    margin-left: auto;                                 /* Met l'élement au milieu de son bloc peu importe sa taille */
    margin-right: auto;
}

/* ############################## */
/* ######      Titre       ###### */
/* ############################## */

#titre {
    padding: 1%;                                       /* Met de l'espace pour laisser "respiré" le titre */
    border-bottom-style: double;                       /* Bordure inférieur seulement car la seule qui est utile pour le #titre */
    font-size: xx-large;                               /* Augmente la taille de la police pour que le #titre soit plus gros que l'ensemble. */ 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /* Police d'écriture du #titre */
    text-align: center;                                /* Aligne le texte du #titre au centre */
    background: #c94a00;                             /* Met la couleur du bloc #titre en orange */                
}

/* ############################## */
/* ###### Contenu du site  ###### */
/* ############################## */

#body { /* Paramétre influençant le bloc #body => Sur #menu et #contenu */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* La police d'écriture du #menu + #contenu */
}

/* ################## */
/* ###### Menu ###### */
/* ################## */

#menu { /* Paramétre influençant le bloc #menu */
    float : left;                                       /* Place le bloc #menu à gauche du site */
    width : 220px;                                      /* Définis la taille du bloc #menu à 220px */
    border-bottom-right-radius: 5%;                     /* Arrondis le coin bas droite pour fluidifier le #menu */ 
    background-color:#c27545;                         /* Met la couleur du bloc #menu en orange clair */
    border-left-style: double;                          /* Définit le style de bordure partout sauf du côté gauche car coller à la limite du site. */
    border-right-style: double;
    border-bottom-style: double;
}

#menu h3 {  /* Paramétre influant le h3 contenu dans #menu */
    border-bottom-style: double;                        /* Seule la bordure inférieur est changé car le reste est déjà stylisé par d'autres blocs */
    padding: 5%;                                        /* Augmentation du padding pour laisser de l'espace au h3 */
    margin-top: auto;                                   /* Gére automatiquement l'espace supérieur du h3 */
    text-align: center;                                 /* Aligne le texte au centre */
    background-color: #c9b2a9;                        /* Définit la couleur du bloc en belge */
}

/* ##################### */
/* ###### Contenu ###### */
/* ##################### */

.surligne { /* Classe qui s'occupe de surligné des cases d'un tableau */
    background-color: #dfd111;                        /* Change le fond en jaune */
}

.nothing {  /* Classe qui s'occupe de surligné des cases d'un tableau ( celle vide ) */
    color: aliceblue;                                 /* Change la couleur du texte en "alicebleu" */
    background-color: #251d1b;                        /* Change le fond en noir ( pas total ) */
    text-align: center;                                 /* Aligne le texte au centre */
}

#contenu { /* Paramétre influant sur le bloc #contenu */
    font-size: large;                                   /* Augmentation de la taille d'écriture */                         
    background: #d18d72;                              /* Définit la couleur du bloc en blege rosé */
    margin-left: 220px;                                 /* Pousse le bloc vers la gauche de 220 px, taille du #menu */
    padding: 2%;                                        /* Augmentation du padding pour laisser de l'espace au contenu */
}

#contenu h1 { /* Paramétre influant sur les h1 de #contenu */
    background-color: #92695e;                        /* Définit la couleur du bloc marron clair */
    color: #f1ebe8;                                   /* Définit la couleur d'écriture du texte en belge trés clair */
    padding-top: 0.3em;                                 /* Met un espace dans le bloc en haut et en bas pour laisser de l'espace au h1 */
    padding-bottom: 0.3em;
    text-align: center;                                 /* Aligne le texte au centre du bloc */
}

#contenu h2 { /* Paramétre influant sur les h2 de #contenu */
    text-align: center;                                 /* Aligne le texte au centre du bloc */
    background-color: #92695e;                        /* Définit la couleur du bloc marron clair */
    border-style: solid;                                /* Définit le style de la bordure en solid */
    border-top-left-radius: 35%;                        /* Arrondis fortement les angles haut gauche et haut droite pour faire une sorte de style... */
    border-top-right-radius: 35%;   
    margin-right: 25%;                                  /* Met une grosse marge pour centrer le h2 au centre du bloc #contenu */
    margin-left: 25%;
}

#contenu h3{ /* Paramétre influant sur les h3 de #contenu */
    margin-left: 1em;                                   /* Met une marge pour crée un alinéa */
}

#contenu img { /* Paramétre influant sur les images de #contenu */
    margin: auto;                                       /* Centre l'image */
    border-style: solid;                                /* Met un cadre à l'image */
    border-width: 0.2em;                                /* Met la taille du cadre à 0.2em */
}
#contenu #note{ /* Paramétre influant le bloc #note contenu dans le bloc #contenu */
    text-align: center;                                 /* Aligne le texte au centre */
}
#contenu table{ /* Paramétre influant les tableaux de #contenu */
    margin: auto;                                       /* Aligne le tableau au centre */
}
#contenu table td { /* Paramétre influant les td des tableaux de #contenu */
    margin: 5%;                                         /* Définit une marge pour mieux voir les td */
}
#contenu table th { /* Paramétre influant les th des tableaux de #contenu */
    background-color: #c27545;                       /* Met la couleur des blocs de th en orange foncé */
}

/* ##################### */
/* ###### Auteurs ###### */
/* ##################### */

#auteurs { /* Paramétre influant sur le bloc #auteurs */
    color: aliceblue;       /* Définit la couleur du bloc en blanc */
    background: #251d1b;    /* Définit la couleur d'écriture du texte en noir */
    text-align: center;       /* Met le texte au centre */
}



