<!-- Sous template pour faire le menu -->
<h3>Menu</h3>
<ul>
$for(listMenu)$
    <li><a href="$listMenu.lien$">$listMenu.cible$</a>
    $if(listMenu.list)$
    <ul>
    $for(listMenu.list)$
        <li><a href="$listMenu.list.lien$">$listMenu.list.cible$</a>
        $if(listMenu.list.list)$
        <ul>
        $for(listMenu.list.list)$   
            <li><a href="$listMenu.list.list.lien$">$listMenu.list.list.cible$</a></li>
        $endfor$
        </ul>
        $endif$
        </li>
    $endfor$
    </ul>
    $endif$
    </li>
$endfor$
</ul>
