<!-- Ligne demandant le code de "sousTemplate_xHTML1-0.html" -->
$ sousTemplate_xHTML1-0() $

<body>
    <!-- Le titre du site -->
    <div id="titre">$titre$</div>

    <!-- Le coeur du site -->
    <div id="body">

        <!-- Menu pour naviguer entre les pages et titres -->
        <div id="menu">
            <!-- Ligne demandant le code de "sousTemplate_menu.html" -->
            $ sousTemplate_menu() $
        </div>

        <!-- Le Contenu de la page -->
        <div id="contenu">
            $body$
        </div>
    </div>
    <div id="auteurs">$auteurs$</div>

</body>
</html>